<div fxLayout="column">
    <tools></tools>
    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start" fxLayoutAlign.lt-lg="center">
        <div class="neighboors" fxFlex="60">
            <app-neighboor
                *ngFor="let neighboor of neighboors$ | async; trackBy: trackByFunction"
                [neighboor]="neighboor"
                (insertToCut)="insertToCut($event)"
            ></app-neighboor>
        </div>
        <upgrades fxFlex [upgradeTab]="upgradeTab"></upgrades>
    </div>
</div>
