<div fxLayout="column">
    <tools></tools>
    <div fxLayout="row" fxLayoutAlign="center start">
        <div class="neighboors" fxFlex="60">
            <app-neighboor
                *ngFor="let neighboor of neighboors$ | async; trackBy: trackByFunction"
                [neighboor]="neighboor"
                (onCut)="selectedNeighboor$.next($event)"
                [timer]="timer$ | async"
            ></app-neighboor>
        </div>
        <upgrades fxFlex [upgradeTab]="upgradeTab"></upgrades>
    </div>
</div>
