:host {
    position: absolute;
    padding: 0.5em;
    bottom: 15%;
    left: 2%;
    .notifications {
        gap: 10px;
        display: grid;
        .notification {
            box-shadow: 0px 0px 2px 1px rgba(0 0 0 / 10%);
        }
    }
}
