<div class="neighboors" *ngFor="let currency of currencySymbolArray()">
    {{ currency }}
    <mat-card
        class="neighboor"
        [ngClass]="upgrade.level == upgrade.maxLevel ? 'unlocked' : 'notUnlocked'"
        *ngFor="let upgrade of upgradeArray(currency); trackBy: trackByFunction"
        (click)="unlock(upgrade)"
    >
        <mat-card-title>
            {{ upgrade.name }}
            <span *ngIf="upgrade.maxLevel != 1">{{ upgrade.level }} / {{ upgrade.maxLevel }} </span>
        </mat-card-title>
        <mat-card-subtitle class="price" *ngIf="upgrade.level < upgrade.maxLevel">
            Price : {{ upgrade.price(upgrade.level) | exponential }}{{ upgrade.currency }}
        </mat-card-subtitle>
        <mat-card-content>
            <div>{{ upgrade.description }}</div>
            <div>{{ upgrade.effectDescription }}</div>
        </mat-card-content>
    </mat-card>
</div>
