<span class="achievementBonusCurrencies">
    Achievements increase all currencies gains by : {{ achievementBonusToCurrency$ | async | exponential }}
</span>
<div class="achievements">
    <div
        class="achievement"
        [ngClass]="achievement.isUnlock ? 'unlocked' : 'notUnlocked'"
        *ngFor="let achievement of achievements$ | async; index as i; trackBy: trackByFunction"
        [matTooltip]="achievement.description"
    >
        <span>
            {{ achievement.name }}
        </span>
    </div>
</div>
