@import 'variable.scss';
.container {
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 5px;
    margin: 5px;
    z-index: 10;

    box-shadow: 0 1px 0px 1px transparentize($red, 0.8);
    &.selected {
        box-shadow: inset 0px 0px 1px 2px transparentize($color: $orange, $amount: 0.8);
    }
    &.cutting {
        box-shadow: inset 0px 0px 2px 1px transparentize($color: $green, $amount: 0.8);
    }
    .cutting-state {
        font-weight: 200;
        color: hsl(0, 0, 32%);
    }
    .neighboorContainer {
        padding: 0.5rem;
        font-size: 1rem;
        @media screen and (max-width: 1024px) {
            font-size: 0.75rem;
        }
    }
    .progress {
        width: 2px;
        max-height: 100%;
        border-radius: 5px;
        height: 0%;
        &.cut {
            background-color: $green;
        }
        &.regrow {
            background-color: transparentize($color: $red, $amount: 0.4);
        }
    }
}
