<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start" fxLayoutAlign.lt-lg="center">
    <div fxFlex="60">
        <mat-tab-group>
            <mat-tab label="Blog">
                <blogging-actions></blogging-actions>
            </mat-tab>
            <mat-tab label="Creation">
                <creations></creations>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div fxFlex="auto">
        <mat-tab-group>
            <mat-tab label="Upgrades">
                <upgrades fxFlex [upgradeTab]="upgradeTab"></upgrades>
            </mat-tab>
            <mat-tab label="Books" *ngIf="(books$ | async).length > 0">
                <books></books>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
