<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start" fxLayoutAlign.lt-lg="center">
    <div fxFlex="60">
        <mat-tab-group>
            <mat-tab label="Blog">
                <blogging-actions></blogging-actions>
                <section class="blog" *ngIf="blogging$ | async as blogging">
                    <post [post]="blogging.post.message"></post>
                </section>
            </mat-tab>
            <mat-tab label="Books"> 
                <books></books>
            </mat-tab>
        </mat-tab-group>
    </div>
    <upgrades fxFlex [upgradeTab]="upgradeTab"></upgrades>
</div>
