<div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="80">
        <div class="blogs-action">
            <button
                [ngClass]="{
                    think: true,
                    clicked: isThinking$ | async
                }"
                (click)="think()"
            >
                Think
            </button>
            <div fxLayout="column" fxFlexAlign="center" *ngIf="idea$ | async as idea" id="ideas">
                <span> {{ idea.own }} Ideas</span>
                <span
                    matTooltip="buff imagination generation, used to create"
                    [ngClass]="{
                        canGetIdea: (imagination$ | async)?.amount >= idea.price(),
                        cantGetIdea: (imagination$ | async)?.amount <= idea.price()
                    }"
                    (click)="doGetIdea$.next()"
                >
                    1 Idea : {{ idea.price() | exponential }} I
                </span>
            </div>

            <button *ngIf="(creation$ | async) !== undefined" mat-button mat-fab color="primary" (click)="create()">
                Create
            </button>
        </div>
        <section class="blog" *ngIf="blogging$ | async as blogging">
            <post [post]="blogging.post.message"></post>
        </section>
    </div>
    <upgrades fxFlex [upgradeTab]="upgradeTab"></upgrades>
</div>
