:host {
    text-align: center;
    .unlock {
        flex: 1 1 250px;
        margin: 0.5rem;
        &:hover {
            cursor: pointer;
        }
    }
    .notUnlocked {
        background: rgba(235, 47, 6, 0.2);
        transition-duration: 0.6s;
        transition-property: background-color;
        z-index: 10;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%);
        &:hover {
            background: rgba(235, 47, 6, 0.3);
            cursor: not-allowed;
        }
        .price {
            color: rgb(246, 174, 48);
        }
        &.canBuy {
            cursor: pointer;
            background: rgba(246, 174, 48, 0.2);
            &:hover {
                background: rgba(120, 224, 143, 0.4);
            }
        }
    }
    .unlocked {
        background: rgba(120, 224, 143, 0.4);
        cursor: not-allowed !important;
        z-index: 0;
        box-shadow: inset 0px 0px 4px 1.25px grey;
    }
}
