<div
    class="unlock upgradeWrapper"
    [ngClass]="{
        unlocked: upgrade.level == upgrade.maxLevel,
        notUnlocked: upgrade.level != upgrade.maxLevel,
        canBuy: currency >= upgrade.price(upgrade.level)
    }"
>
    <div class="upgrade-title">
        {{ upgrade.name }}
        <span *ngIf="upgrade.maxLevel != 1">{{ upgrade.level }} / {{ upgrade.maxLevel }} </span>
    </div>
    <div class="upgrade-description">
        {{ upgrade.description }}
    </div>
    <div class="upgrade-content">
        <div>{{ upgrade.effectDescription }}</div>
        <div class="price" *ngIf="upgrade.level < upgrade.maxLevel">
            {{ upgrade.price(upgrade.level) | exponential }}{{ upgrade.currency }}
        </div>
    </div>
</div>
