
<span class="achievementBonusCurrencies">Achievements increase all currencies gains by : {{ getAchievementsBonus(achievements$ | async) | exponential}} </span>
<div class="achievements">
    <mat-card
    [matTooltip]="achievement.description"
    class="achievement"
    [ngClass]="achievement.isUnlock ? 'unlocked' : 'notUnlocked'"
    *ngFor="let achievement of achievements$ | async; index as i; trackBy: trackByFunction"
    >
    <mat-card-title>
        {{ achievement.name }}
    </mat-card-title>
</mat-card>
</div>
