<div class="mowing">
  <mat-card *ngFor="let neighboor of neighboors">
    <mat-card-header>
      <mat-card-title>
        {{ neighboor.title }} :
        <small class="small">
          {{ neighboor.completion }}/{{ neighboor.maxCompletion }}
        </small>
      </mat-card-title>
      <mat-card-subtitle>{{ neighboor.subTitle }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ neighboor.content }}
      </p>
    </mat-card-content>
    <mat-card-actions align="center">
      <button
        mat-raised-button
        class="w-100"
        color="primary"
        (click)="launchInterval(neighboor.time)"
      >
        Mow
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <small>{{ value }}%</small>
      <mat-progress-bar [value]="value" style="height: 1rem"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
