<h2>Neighboors</h2>
<div class="mowing">
  <mat-card *ngFor="let neighboor of neighboors">
    <mat-card-header>
      <mat-card-title> MowingTown </mat-card-title>
      <mat-card-subtitle>You must start somewhere</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>First neighborhood, easy cleaning, slow income</p>
      <p>income per neighbors : 0.0012$</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Mow</button>
    </mat-card-actions>
    <mat-card-footer>Placeholder progress bar</mat-card-footer>
  </mat-card>
</div>
