<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Neighboors">
        <div class="neighboors">
            <mat-card
                class="neighboor"
                (click)="cut(neighboor)"
                *ngFor="let neighboor of neighboors$ | async; index as i; trackBy: trackByFunction"
            >
                <mat-card-title>
                    {{ neighboor.title }}
                </mat-card-title>
                <mat-card-subtitle>
                    {{ neighboor.subTitle }}, freshly cut : {{ neighboor.completion }}/{{ neighboor.maxCompletion }}
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="Description">
                                <div [innerHTML]="neighboor.content"></div>
                        </mat-tab>
                        <mat-tab label="Informations">
                                <p>
                                    Income : {{ neighboor.income | exponential }}$, <br />
                                    Regrow Time : {{ neighboor.regrowTime }}s, <br />
                                    Cutting Time : {{ neighboor.time }}s,
                                </p>                            
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
                <mat-card-actions>
                    <mat-progress-bar mode="determinate" [value]="neighboor.cutPercent"></mat-progress-bar>
                    <mat-progress-bar
                        *ngIf="neighboor.completion > 0"
                        mode="determinate"
                        [value]="neighboor.regrowPercent"
                        color="warn"
                    ></mat-progress-bar>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Upgrades">
        <upgrades [upgrades]="upgrades$ | async"></upgrades>
    </mat-tab>
</mat-tab-group>
