/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    cursor: default;
}

.w-100 {
    width: 100%;
}

.neighboors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .neighboor {
        flex: 1 1 300px;
        margin: 5px;
        &:hover {
            cursor: pointer;
        }
    }
}

main {
    padding: 1rem;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.mat-progress-bar.mat-progress-bar-fill {
    transition-duration: 1000/60ms !important;
}
