:host {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    z-index: 5;
    margin: 0.5rem 0rem;
    border-radius: 5px;
    .upgrade {
        display: grid;
        grid-gap: 0.5rem;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
    }
    .currency-label {
        z-index: 7;
        text-shadow: 1px 1px 3px rgba(250, 211, 144, 1);
        width: fit-content;
        font-size: 1.5rem;
        align-self: center;
    }
}
