.container {
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 5px;
    margin: 5px;
    z-index: 10;
    box-shadow: 0 0 4px 1px rgba(235, 47, 6, 0.2);
    &.selected {
        box-shadow: inset 0px 0px 1px 2px rgba(246, 174, 48, 0.2);
    }
    &.cutting {
        box-shadow: inset 0px 0px 1px 2px rgba(120, 224, 143, 0.2);
    }
    .cutting-state {
        font-weight: 200;
        color: hsl(0, 0, 32%);
    }
    .neighboorContainer {
        padding: 0.5rem;
        font-size: 1rem;
    }
    .progress {
        width: 4px;
        max-height: 100%;
        border-radius: 5px;
        height: 0%;
        &.cut {
            background-color: rgba(120, 224, 143, 1);
        }
        &.regrow {
            background-color: rgba(235, 47, 6, 0.6);
        }
    }
}
