<div fxLayout="row" class="container" (click)="cut()">
    <div fxLayout="row">
        <div class="progress cut" fxFlexAlign="end" style.height="{{ neighboor.cutPercent }}%"></div>
    </div>
    <div fxLayout="column" class="neighboorContainer">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h3>{{ neighboor.title }}</h3>
            <span>
                {{ neighboor.subTitle }}, freshly cut : {{ neighboor.completion }}/{{ neighboor.maxCompletion }}
            </span>
        </div>
        <span [innerHTML]="neighboor.content"> </span>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span> Income : {{ neighboor.income | exponential }}$ </span>
            <span> Cutting Time : {{ neighboor.time }}s </span>
            <span> Regrow Time : {{ neighboor.regrowTime }}s </span>
        </div>
    </div>
    <div fxLayout="row">
        <div class="progress regrow" fxFlexAlign="end" style.height="{{ neighboor.regrowPercent }}%"></div>
    </div>
</div>
